@use "sass:math";
@import "@styles/scss-utils/utils";
@import "@styles/scss-vars.scss";
@import "@styles/scss-utils/scss-mixins.scss";
@import "@styles/scss-global.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
// @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap-grid.css");

.section-03 {
  box-shadow: 0 0 0 100vmax var(--color-secondary);
  clip-path: inset(0 -100vmax);
  overflow-x: hidden;
  background: var(--color-secondary);
  max-width: 1440px;
  margin: 0 auto;

  .container {
    column-gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      flex-direction: column;
    }
  }
  // ===========LEFT SECTION===========
  .left-section {
    @include md {
      width: 100%;
    }

    .content {
      @include md {
        box-shadow: 0 0 0 100vmax var(--color-primary);
        clip-path: inset(0 -100vmax);
        display: flex;
        justify-content: center;
        background-color: #ff5f7e;
      }

      .image1 {
        width: 478px;
        height: 569px;
        left: 50px;
        top: 79px;
        background-image: url("../../../../assets/images/img_21.svg");
        @include md {
          width: 320px;
          height: 406px;
          background-size: contain;
          background-image: url("../../../../assets/images/img_23.png");
          background-repeat: no-repeat;
        }
      }
    }
  }

  .right-section {
    padding: 50px 0;
    max-width: 564px;
    width: (calc(100% - 20px));
    .content {
      padding: 20px;
      // background: blue;
    }

    .text1 {
      @extend .heading-small;
      color: #ff5f7e;
      width: 326px;
      height: 38px;
    }
    .text2 {
      @extend .heading-medium;
      color: #ffffff;
    }
    .w-btn {
      width: 237px;
      height: 50px;
      background: #ffffff;
      padding: 16px 32px;
      margin-top: 10px;
      white-space: nowrap;
      font-size: 15px;
    }
  }
}
