.section-11 {
  // height: 100vh;
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  @include md {
    grid-template-columns: 1fr;
  }

  margin: 0 auto;
  max-width: 1440px;
  padding-top: 50px;

  .block-1 {
    order: 1;
    padding: 30px;
    display: grid;
    justify-content: center;
    margin-bottom: 48px;
    max-width: 564px;
    margin: 0 auto;

    .text1 {
      @extend .heading-small;
      color: var(--color-primary);
    }

    .text2 {
      margin-top: 8px;
      @extend .heading-medium;
    }

    .text3 {
      margin-top: 8px;
      @extend .paragraph;
      color: #555555;
    }

    .btn {
      margin-top: 6.4rem;
      @extend .btn;
      max-width: 157px;
      min-height: 50px;
      background: #1a4a67;
      color: white;
    }
  }

  .block-2 {
    // background-color: blue;

    .image {
      object-fit: contain;
      background-attachment: fixed;
      width: 100%;
      min-height: 786px;
      max-height: 786px;
      // background-color: #e3e3e3;
      @include md {
        min-height: auto;
        max-height: auto;
        object-fit: cover;
        object-position: 100% 0;
      }
    }
  }
}
