:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #ff5f7e;
  --color-secondary: #1a4a67;
  --color__2: #e3e3e3;
  --color__3: #faabaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}
//&&&&&&&&&&&&&&&&&&&
//    Utilities
//&&&&&&&&&&&&&&&&&&&

ul {
  list-style-type: none;
}

.whitespace_prewrap {
  white-space: pre-wrap;
}

.spacer {
  height: 20px;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--color-secondary);
  clip-path: inset(0 -100vmax);
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.heading-medium {
  @include poly-fluid-sizing("font-size", $map-heading-medium);
  @include poly-fluid-sizing("line-height", $map-LH-heading-medium);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  // font-size: 3.6rem;
  // line-height: 5.4rem;
  color: var(--color-dark);
}

.heading-regular {
  @include poly-fluid-sizing("font-size", $map-heading-regular);
  @include poly-fluid-sizing("line-height", $map-LH-heading-regular);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  // font-size: 3.6rem;
  // line-height: 5.4rem;
  color: var(--color-dark);
}

.heading-small {
  @include poly-fluid-sizing("font-size", $map-heading-small);
  @include poly-fluid-sizing("line-height", $map-LH-heading-medium);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  // font-size: 2.5rem;
  // line-height: 3.8rem;
}

.paragraph {
  @include poly-fluid-sizing("font-size", $map-paragraph);
  @include poly-fluid-sizing("line-height", $map-LH-paragraph);

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  // line-height: 150%;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
}

// &&&&&&&&&&&&&&&&&
//    Animations
// &&&&&&&&&&&&&&&&&

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
