@use "sass:math";
@import "./scss-vars.scss";
@import "./scss-utils/scss-mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #ff5f7e;
  --color-secondary: #1a4a67;
  --color__2: #e3e3e3;
  --color__3: #faabaa;
}

#root {
  // @extend .flex-center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

//&&&&&&&&&&&&&&&&&&&
//    Utilities
//&&&&&&&&&&&&&&&&&&&

.color-primary {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.heading-medium {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--color-dark);
}

.heading-small {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.8rem;
}

.paragraph {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
}

//&&&&&&&&&&&&&&&&&&&
//    Section-01
//&&&&&&&&&&&&&&&&&&&

.section-01 {
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(320px, 1440px);
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 100%;
    max-width: 762px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .h-01 {
      @extend .heading-small, .color-primary, .text-center;
    }
    .h-02 {
      @extend .heading-medium, .text-center;
    }
  }

  .right-section {
    width: 100%;
    margin-top: 4.8rem;

    .item-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 365px));
      grid-gap: 4rem;
      justify-content: center;
    }

    .item-grid > .item {
      display: flex;
      flex-direction: column;

      .title {
        @extend .heading-small;
        // max-width: 317px;
      }
      .description {
        @extend .paragraph;
        // max-width: 317px;
        min-height: 100px;
        padding-bottom: 1.6rem;
      }
      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 10px;
        // width: 317px;
        height: 50px;
        @extend .btn;
        bottom: 0;
        border: 3px solid #ff5f7e;
        color: #ff5f7e;
      }

      .image {
        max-height: 104px;
        width: 100%;
        height: auto;
        width: 82px;
        padding-bottom: 2.4rem;
      }
    }
  }
}

//&&&&&&&&&&&&&&&&&&&
//    Section-02
//&&&&&&&&&&&&&&&&&&&
