@import "../scss-vars.scss";
@import "./scss-mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

body {
  @media (min-width: 768px) {
    padding: 30px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  word-wrap: break-word;
  position: relative;
  height: 100%;
  width: 100%;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  @include poly-fluid-sizing("font-size", $map-h1);
  margin: 0 0 $base-spacing-unit;
}

h2 {
  @include poly-fluid-sizing("font-size", $map-h2);
  margin: 0 0 $base-spacing-unit;
}

h3 {
  @include poly-fluid-sizing("font-size", $map-h3);
}

h4 {
  @include poly-fluid-sizing("font-size", $map-h4);
}

h5 {
  @include poly-fluid-sizing("font-size", $map-h5);
}

h6 {
  @include poly-fluid-sizing("font-size", $map-h6);
}

button {
  @include poly-fluid-sizing("font-size", $map-btn);
}

p {
  @include poly-fluid-sizing("font-size", $map-p);
  margin-bottom: $base-spacing-unit;
}

pre {
  text-align: left;
  margin: $base-spacing-unit 0 ($base-spacing-unit * 2);
  padding: ($base-spacing-unit * 2) ($base-spacing-unit * 2) ($base-spacing-unit * 2) $base-spacing-unit;
  background: #454545;
  color: white;
  display: inline-block;
  width: 100%;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px 0px;
}
