.section-09 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0;

  .block-1 {
    display: grid;
    justify-items: center;
    .text1 {
      @extend .heading-small, .color-primary, .text-center;
      max-width: 564px;
    }
    .text2 {
      @extend .heading-medium, .text-center;
      max-width: 564px;
    }
  }
  .block-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    grid-gap: 3rem;
    margin: 20px;

    @include xs {
      grid-template-columns: 1fr;
    }

    .content {
      border: 2.5px solid rgba(255, 95, 126, 0.4);
      filter: drop-shadow(10px 15px 40px rgba(18, 47, 65, 0.15));
      padding: 20px;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .image {
      max-width: 80px;
      &:hover {
        @extend .scaleOnHover;
      }
    }

    .text1 {
      @extend .heading-small, .color-secondary, .text-center;
    }
    .text2 {
      @extend .paragraph;
      color: #555555;
    }

    .ul > .li {
      display: grid;
      gap: 16px;
      grid-auto-flow: column;
      justify-content: start;
      @extend .paragraph;
      color: #555555;
      > .icon {
        @include min-md {
          padding-top: 5px;
        }
      }
    }
  }
}
